$Fuente:  'Open Sans', sans-serif;
$FuenteTitulo : 'Fjalla One', sans-serif;
$FuenteMenu : 'Staatliches', cursive;

body{
    font-family: $Fuente;
}
a{
    color: black;
    text-decoration: none;
    outline: none;
}
a:hover{
    color: black;
    text-decoration: none;
    
}

select{
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.623);
    border-radius: 10px;
    outline:none;
}

label{
    font-weight: bold;
    
}

button{
    outline: none;
    line-height: normal;
}
footer{
    background-color: #2234ae;
    background-image: linear-gradient(315deg, #2234ae 0%, #191714 74%);
    padding: 3px;
}
.menu{
    background-color: #2234ae;
    background-image: linear-gradient(315deg, #2234ae 0%, #191714 74%);
    font-family: $FuenteMenu;
    padding: 13px;
    @extend .fuenteMenu;
}
.bg-contenedor{
    border: 1px solid;
    border-color: rgb(87, 84, 84);
    border-radius: 20px;
    opacity: 0.6;
}

.bg-contenedor:hover{
    
    opacity: 1;
    transition: 1s;

}

.tipos__titulo{
    font-family: $Fuente;
    font-size: 1rem;
    font-weight: bold;
}

.tipos__valor{
    font-family:  $FuenteTitulo;
    font-size: 1rem;
    font-weight: bold;
}

.bg-contenedor-elegido{

    background-color: #AED6F1 ;
    border: 1px solid;
    border-color: rgb(20, 20, 20);
    border-radius: 20px;
    font-weight: bold;

}

.bg-contenedor-elegido:hover{
    background-color:white;
    border: 1px solid;
    border-color: black;
    font-weight: bold;
    transition: 1s;
}

.bg-opcion{
    font-size: 0.9rem;
    background-color: #8ac6ee ;
    font-weight: bold;
    color: black;
    display: inline-flex;
    border-radius: 40px;
    box-shadow: -4px 3px 7px 3px rgba(21,21,21,0.23);
}


.btn{
    font-weight: bold;
    border-radius: 40px;
}

.botonGeneral{
    background-color: rgb(12, 12, 68);
    border-color: rgb(12, 12, 68);
    color: white;
    
    
}
.botonGeneral:hover{
    background-color: rgb(22, 22, 119);
    color: white;
}

.botonGeneral:disabled{
    background-color: rgb(81, 81, 83);
    border-color: grey;
}

.btn:active{
    outline: none;
}

.botonBorrar{
    align-items: center;
    background-image: url('../icon/round_remove_circle_outline_black_24dp.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    
}

.botonBorrar:hover{
    background-color: rgba(218, 10, 10, 0.89);
    transition: 1s;
}

.botonHome{
    align-items: center;
    background-image: url('../icon/round_restart_alt_white_24dp.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(12, 12, 68);
    border-color: rgb(12, 12, 68);
    height: 40px;
    width: 40px;

}
.botonHome:hover{
    @extend .botonGeneral:hover
}
.iconosEmpresas{
    box-shadow: -4px 3px 7px 3px rgba(21,21,21,0.23);
    border-radius: 10px;
    transform: scale(1.1);
    transition: 1.5s;
}

.encabezado{
    font-family: $Fuente;
    font-weight: bold;
   @extend .fuenteNormal
   
}

#importe{
    color: black;
    font-family: $Fuente;
    font-weight: bold;
    @extend .fuenteNormal
}
#signo{
    height: 40px;
    width: 40px;
}
.consumoTotal{
    color: rgb(12, 12, 68);
    font-family: $FuenteTitulo;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
}
.letraTitulo{
    font-family: 'Fjalla One', sans-serif;
}
.fuenteMenu{
    font-size: 1.4rem;
}
.fuenteTitulo{
    font-size: 1rem;
}
.fuenteNormal{
    font-size: 0.9rem;
}
.logoElectro{
    height: 60px;
   
}
.iconos{
    height: 60px;
}


@media screen and (max-width: 776px){
    .logoElectro{
        height: 40px; 
        margin-bottom: 0.8rem;
    }
    .fuenteMenu{
        font-size: 1.2rem;
    }
    .fuenteTitulo{
        font-size: .88rem;
    }
    .fuenteNormal{
        font-size: 0.8rem;
    }
    .iconos{
        height: 50px;
    }
}